.montage-container {
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

.montage-header {
    font-size: 3.5rem;
}

.montage-header-montage {
    font-size: 2.5rem;
}

.montage-new-order {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    width: 10rem;
    margin: 20px;
}