.login-container {
  width: 100%;
  display: flex;
}

.login-error-container {
  width: 90%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.login-container-main {
  width: 100%;
  min-width: 400px;
  text-align: center;
  background-color: white;
}

.login-logo-black {
  margin-top: 5%;
}

.login-right-subheading {
  margin-top: 35px;
  font-size: 1.2vw;
}

.login-form-container {
  width: 25%;
  padding-top: 2%;
  text-align: left;
  margin: auto;
}

.login-password-input-container {
  padding-top: 30px;
}

.forgot-password-link {
  text-decoration: none;
  color: #fe3b1f;
}

.forgot-password {
  font-weight: 600;
  color: #fe3b1f;
  font-style: italic;
  font-size: 0.8vw;
  text-align: right;
  padding-top: 2.5%;
}
.phone-password-input-label {
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-right: 11px;
  font-size: 20px;
  color: var(--black);
  direction: rtl;
  text-align: right;
}
.login-button-container {
  margin-top: 50px;
  display: flex;
}

.login-button {
  width: 200px;
  height: 40px;
  border-radius: 25px !important;
  border: none !important;
  background-color: var(--blue) !important;
  color: var(--white) !important;
  font-family: Tajawal !important;
  margin: auto !important;
}

.phone-password-input {
  border: 1px solid var(--grey) !important;
  border-radius: 25px;
  padding: 10px 20px 0px 0px !important;
  width: calc(100% - 20px) !important;
  height: 40px !important;
  margin-right: 25px !important;
  direction: rtl !important;
}
