.main_container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  direction: rtl !important;
  overflow: hidden;
}

.inputs_container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-top: 50px;
  margin-right: 50px;
}

.header_lable {
  font-weight: bold;
  font-size: 43px;
  color: var(--light-grey);
}

.inputs_section {
  margin-top: 10px;
  display: flex;
  margin-right: 40px;
}

.part {
  margin-top: 10px;
}

.input {
  border: 1px solid var(--grey) !important;
  border-radius: 25px;
  padding: 10px 50px 0px 0px !important;
  width: calc(100% - 20px) !important;
  height: 40px !important;
  direction: rtl !important;
}

input:required {
  border: 1px solid red;
}

.column {
  margin-right: 250px;
}

.inputs_label {
  font-weight: bold;
  font-size: 14px;
  color: var(--black);
  margin-bottom: 5px;
}

.montage-submit-button {
  max-width: 300px;
  margin: auto;
  margin-top: 30px;
}

.skina-code-container {
  display: flex;
  width: calc(100% + 80px);
}

.skina-add-icon {
  color: green;
  font-size: 35px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  cursor: pointer;
}

.add-skina-code-modal-container {
  min-width: 600px;
  direction: rtl;
  padding: 10px 40px 40px 10px;
}


.buttons_container{
  display: flex;
  width: 40%;
  }